<!-- For turbo stream to delete data because using self in model else do not have to add it -->
<!-- <%= turbo_stream_from comment %> -->
<!-- Here is every single comment in database -->
<%= turbo_frame_tag dom_id(comment) do %>
  <div class="d-flex flex-row justify-content-between border border-1 border-dark rounded mb-2">
    <div class="p-2 w-100 bd-highlight">
      <p><%= comment.body %></p>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
      <%= turbo_stream_from "comment_#{comment.id}_like_count" %>
      <%= render partial: 'likes/like', locals: { comment: comment } %>

      <% if comment.liked(user) %>
        <%= button_to 'Unlike', pin_comment_unlike_path(pin, comment), method: :delete %>
      <% else %>
        <%= link_to 'Like', pin_comment_like_path(pin, comment), method: :post %>
      <% end %>

      <% if comment.user == user %>
        <%= link_to 'Edit', edit_pin_comment_path(pin, comment) %>
        <%= button_to 'Delete', pin_comment_path(pin, comment), method: :delete, data: { controller:  "confirmation", confirmation_message_value: "Are you sure?", action: "click->confirmation#confirm" } %>
      <% end %>
    </div>
  </div>
<% end %>
