<!-- For turbo stream to delete data because using self in model else do not have to add it -->
<!-- <%= turbo_stream_from comment %> -->
<!-- Here is every single comment in database -->
<%= turbo_frame_tag dom_id(comment) do %>
  <div class="d-flex flex-row justify-content-between border border-1 border-dark rounded mb-2">
    <div class="p-2 w-100 bd-highlight">
      <p><%= comment.body %></p>
    </div>
    <div class="p-2 flex-shrink-1 bd-highlight">
      <p><%= comment.likes.count %> like(s)</p>
      <% if comment.liked(user) %>
        <%= button_to 'Unlike', like_path(comment.liked(user)), method: :delete %>
      <% else %>
        <%= render partial: 'likes/form', locals: { comment: comment, like: Like.new } %>
      <% end %>
      <%= button_to 'Delete', pin_comment_path(comment.pin, comment), method: :delete, data: { confirm: 'Are your sure?' } %>
    </div>
  </div>
<% end %>
