<%= form_with(model: [pin, comment]) do |f| %>
  <%= render partial: 'shared/error_message', locals: { object: comment } %>
  <!-- <%= f.label :body, 'Comment' %> -->
  <%= f.text_field :body, class: 'form-control' %>
  <div class="d-grid gap-2 my-2">
    <%= f.submit 'Comment', class:"btn btn-primary" %>
  </div>
<% end %>