<section class='user-profile'>
  <div class='user-email'>
    <h1>User : <%= current_user.email %></h1>
  </div>
  <div class='create-pin'>
    <h2>Create your pin here</h2>
    <%= turbo_frame_tag 'new_pin' do %>
      <%= link_to 'Create Pin', new_pin_path %>
    <% end %>
  </div>
  <div class='create-board'>
    <h2>Create your board here</h2>
    <%= turbo_frame_tag 'new_board' do %>
      <%= link_to 'Create Board', new_board_path %>
    <% end %>
  <br>
  <div class='list-of-board'>
    <h2>List of boards</h2>
    <%= turbo_stream_from 'boards' %>
    <%= turbo_frame_tag 'boards' do %>
      <%= render @boards %>
    <% end %>
  </div>
  <div class='list-of-pin'>
    <h2>List of Pins</h2>
    <%= turbo_stream_from 'pins' %>
    <%= turbo_frame_tag 'pins' do %>
      <%= render @pins %>
    <% end %>
  </div>
</section>