<section class='user-profile' data-controller='pin-update'>
  <div class='user-email'>
    <h1>User : <%= current_user.email %></h1>
  </div>
  <div class='create-board'>
    <h2>Create your board here</h2>
    <!-- <%= turbo_frame_tag 'new_board' do %>
      <%= link_to 'Create Board', new_board_path %>
    <% end %> -->
    <%= render 'boards/form', board: @board %>
    <!-- lazy loading frames -->
    <%= turbo_frame_tag 'new_board', src: new_board_path %>
  <br>
  <div class='list-of-board'>
    <h2>List of boards</h2>
    <%= turbo_stream_from 'boards' %>
    <%= turbo_frame_tag "user_#{current_user.id}_boards", data: { board_options_target: 'boards' } do %>
      <%= render @boards %>
    <% end %>
  </div>
  <br>
  <div class='create-pin'>
    <!-- Create Pin without stream and Stimulus -->
    <h2>Create your pin here</h2>
    <!-- <%= turbo_frame_tag 'new_pin' do %>
      <%= link_to 'Create Pin', new_pin_path %>
    <% end %> -->
    <%= turbo_frame_tag 'new_pin', src: new_pin_path %>
  </div>
  <section class='list-of-pin'>
    <!-- Create Pin without stream and Stimulus -->
    <h2>List of Pins</h2>
    <%= turbo_frame_tag "user_#{current_user.id}_pins", class: 'row' do %>
      <%= render partial: "pins/pin", collection: @pins %>
    <% end %>
      <!-- <% @pins.each do |pin| %>
        <section class='col-3'>
          Need the dom_id(pin) so that when board was deleted it will also delete pins streamlessly
          <%= turbo_frame_tag dom_id(pin) do %>
            <%= link_to pin_path(pin), 'data-turbo-frame': '_top' do %>
              <% if pin.image.attached? %>
                <%= image_tag pin.image, style: 'width: 200px;' %>
              <% end %>
              <p><%= pin.title %></p>
            <% end %>
          <% end %>
        </section>
      <% end %> -->
    </section>
  </section>
</section>